<div>

</div>

<div style="text-align:center">
  <h1>
    Welcome to {{ username }}!
  </h1>
</div>
<input [(ngModel)]="username" name="login_name" class="input" />
<input [(ngModel)]="email" name="login_email" class="input" />
<button (click)="login()">Login</button>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
