
<div class="row">
  <div class="column">
    <header>
      <font size = "6">Chat Menu: (User: {{username}})</font>
    </header>
    <button (click)="logout()">Log Out</button>

    <div style="width:100%;height:130px;border:2px solid #000;">
      <div>
        <label>Select a Group: </label>
          <select [(ngModel)]="selectedGroup">
              <option *ngFor="let grp of groups" value={{grp}}>
                  {{grp}}
              </option>
          </select>
          <button (click)="selectGroup()">Enter Group</button>
      </div>
      <div *ngIf="currentGroup!=''">
        <div *ngIf="channels.length > 0">
          <label>Select a Channel: </label>
            <select [(ngModel)]="selectedChannel">
                <option *ngFor="let chn of channels" value={{chn}}>
                    {{chn}}
                </option>
            </select>
            <button (click)="selectChannel()">Enter Channel</button>
          </div>
          <div *ngIf="channels.length <= 0">
            <label>Select a Channel: </label>
              This group has no channels - or you don't have permission to view them!
              <br>
            </div>
          <div>
            <h2>
              Welcome to {{currentGroup}}!
              <br>
              <button (click)="leaveGroup()">Leave Group</button>
            </h2>
          </div>
      </div>
    </div>
    <div *ngIf="currentChannel!=''" style="width:100%;height:130px;border:2px solid #000;">
      <div>
        <div>
          <h3>
            Channel: {{currentChannel}}
            <br>
            <button (click)="leaveChannel()">Leave Channel</button>
          </h3>
        </div>
        <label>Type a Message: </label>
          <input [(ngModel)]="text_msg" name="text_msg" class="input"/>
          <button (click)="sendMessage()">Send Message</button>
      </div>
    </div>
</div>
<div class="column">
  <header>
    <font size = "6">Control Panel</font>
  </header>
  <div *ngIf="perms>0">
    <div style="width:100%;height:160px;border:2px solid #000;">
      <font size = "5">Roles:</font>
      <div *ngIf="perms>=1">
        <font size = "4"><b>Group Admin Role.</b> You can create/remove groups, and channels within groups.
          You can also add users to (and remove users from) groups. You can also promote users to the Group Admin role.</font>
      </div>
      <div *ngIf="perms==2">
        <font size = "4"><b>Super Admin Role.</b> You can create and remove users.
          You can also promote users to the Super Admin Role.</font>
      </div>
      <div *ngIf="isAssis">
        <font size = "4"><b>Group Assis Role.</b> You are a 'group assis' for {{currentGroup}}.
        You can add and remove users from channels in this group, and can create/remove channels in this group.</font>
      </div>
    </div>
  </div>

  <div *ngIf="perms>0" style="width:100%;height:60px;border:2px solid #000;">
    <div>
      <font size = "5">Group Manager </font>
      <input [(ngModel)]="text_group" name="text_group" class="input"/>
      <div *ngIf="text_group!=''">
        <button (click)="createGroup()">Create Group</button>
        <button (click)="removeGroup()">Remove Group</button>
      </div>
    </div>
  </div>
  <div *ngIf="(isAssis || perms>0)" style="width:100%;height:60px;border:2px solid #000;">
    <div>
      <font size = "5">Channel Manager [{{currentGroup}}] </font>
      <input [(ngModel)]="text_channel" name="text_channel" class="input"/>
      <div *ngIf="text_channel!=''">
        <button (click)="createChannel()">Create Channel</button>
        <button (click)="removeChannel()">Remove Channel</button>
      </div>
    </div>
  </div>
  <div *ngIf="(isAssis || perms>0)" style="width:100%;height:180px;border:2px solid #000;">
    <div>
      <font size = "5">User Manager [{{currentGroup}}/{{currentChannel}}]</font>
      <input [(ngModel)]="text_user" name="text_user" class="input"/>
      <br>
      <div *ngIf="currentChannel!='' && text_user!=''">
        <button (click)="addUserToChannel()">Add To {{currentChannel}}</button>
        <button (click)="removeUserFromChannel()">Remove From {{currentChannel}}</button>
      </div>
      <br>
      <div *ngIf="text_user!='' && perms >= 2">
        <button (click)="giveSuperAdmin()">Promote User to 'Super Admin' Role</button>
        <button (click)="deleteUser()">Delete User</button>
      </div>
      <br>
      <div *ngIf="text_user!='' && perms >= 1">
        <button (click)="createUser()">Create User</button>
        <button (click)="giveGroupAdmin()">Promote User to 'Group Admin' Role</button>
      </div>
      <br>
      <div *ngIf="text_user!='' && (perms >= 1 || isAssis)">
        <button (click)="giveGroupAssis()">Promote User to Group Assis {{currentGroup}}</button>
      </div>
    </div>
  </div>
</div>
</div>
